body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}

.logo-container img {
    max-width: 150px;
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.5rem;
    color: #666;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-left: 5px solid #128474;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 3px;
    background-color: #128474;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0e695b;
}

.extra-links {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.extra-links a {
    color: #128474;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.dropbtn, .help-button {
    background-color: #128474;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 48%;
}

.dropbtn:hover, .help-button:hover {
    background-color: #0e695b;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 48%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #0e695b;
}